body {
    background-color: black;
    font-family: 'inter';
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

p {
    font-size: 14px;
}

.avid {
    color: #9ACD32;
}

.boat {
    color: white;
}

.card {
    background-color: #28282B;
    text-align: center;
    padding: 50px 0 50px;
    width: 384px;
    margin: 150px auto;
    border-radius: 10%;
}

.click {
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin-top: 10px;
    width: 20em;
    height: 3em;
    border-radius: 10px;
}

.click:hover {
    background-color: #9ACD32;
    cursor: pointer;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
}

@media screen {
    body {
        width: 375px;
    }
}